body {
  background-color: #e7e7e7;
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.app-bar {
  height: 48px;
  padding: 0 24px;
  background-color: rgb(52, 97, 155);
  color: white;
  font-size: 24px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

  top: 0;
  position: sticky;

  display: flex;
  align-items: center;
}

          .container {
  max-width: 800px;
  margin: 30px auto 0;
}

.card {
  margin: 0 20px;
  padding: 20px;

  border-radius: 3px;
  background-color: white;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

  display: flex;
  align-items: center;
  justify-content: center;

  & > * + * {
    margin-left: 20px;
  }
}

.lds-spinner {
  margin: 0 auto;
  color: official;
  display: block;
  position: relative;
  width: 80px;
  height: 80px;

  div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: rgb(54, 139, 219);
  }

  @for $i from 1 through 12 {
    div:nth-child(#{$i}) {
      transform: rotate(30deg * ($i - 1));
      animation-delay: ($i * 0.1s - 1.2s);
    }
  }

  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
